<!-- extend base layuot -->
{% extends "layout.html" %}
{% block content %}

<div class="col-md-8">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class = flashes>
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-line-chart"></i> Recruits <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">
            <table class="table" id="grid">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Activity Type</th>
                        <th>Recruiter</th>
                        <th>Recruit</th>
                        <th>Action(s)</th>
                    <tr>
                </thead>
                <tbody>
                    <tr>
                        <form method="post" action="{{ url_for(action) }}" id="eventForm" class="form-horizontal">
                            {{ form.csrf_token }}
                            <td>
                                <div class="input-group input-append date" id="datePicker">
                                    {{ form.recruit_date(class_="form-control") }}
                                    <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                                </div>
                            </td>

                            <td>
                                <div class="col-xs-12" name="Activity Type">
                                    {{ form.activity(class_="form-control") }}
                                </div>
                            </td>
                            <td>
                                <div class="col-xs-12" name="Recruiter">
                                    {{ form.recruiter(class_="form-control") }}
                                </div>
                            </td>

                            <td>
                                <div class="col-xs-12" name="Recruit">
                                    {{ form.recruit(class_="form-control") }}
                                </div>
                            </td>

                            <td>
                                <div class="col-xs-5 col-xs-offset-3">
                                    <button type="submit" class="btn btn-default"> <i class="fa fa-plus"></i> Add </button>
                                </div>
                            </td>
                        </form>
                    </tr>
                    {% for row in recruit_table %}
                    <tr>
                        <td>{{ row.recruit_date }}</td>
                        <td>{{ row.activity_type }}</td>
                        <td>{{ row.recruiter }}</td>
                        <td>{{ row.recruit }}</td>
                        <td>
                            <a href="{{ url_for('recruits.edit_recruit', id=row.id) }}">
                                <i class="fa fa-pencil"></i> Edit
                            </a>

                            <a href="{{ url_for('recruits.delete_recruit', id=row.id) }}">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination-bar">
                {{ pagination.links }}
                {{ pagination.info }}
            </div>
        </div>
    </div>
</div>


<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-keyboard-o"></i> Instructions/Notes </h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Coming soon.</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
