<!-- extend base layuot -->
{% extends "layout.html" %}
{% block content %}

<div class="col-md-8">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class = flashes>
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-line-chart"></i> Cap Table (click to edit) <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a><a class="pull-right fa fa-question" href="#" style="text-decoration:none;"></a></h3>
        </div>

        <div class="panel-body">
            <a href="{{ url_for('caps.add_cap_week') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i> Add Week
            </a>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                {{ cap_summary|safe }}
            </div>
        </div>
    </div>

</div>


<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-calendar"></i> Date Quick Reference <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">
            Coming soon.
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-keyboard-o"></i> Instructions/Notes </h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Click on the captype in each cell to edit the cap entry. A form will pop up that allows you to change the captype and the date,
                    as long as it falls within the selected week.</li>
                <li>To add a new week for all active clan members, click the "Add week" button and a cap entry with a type of "No"
                will be added for each account.</li>
                <li>Caps with a type of "New" are automatically created when a recruit is recorded.</li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}
