<!-- extend base layuot -->
{% extends "layout.html" %}
{% block content %}

<div class="col-md-8">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class = flashes>
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-line-chart"></i> {{ title }} <a class="pull-right glyphicon glyphicon-option-horizontal" href="#" style="text-decoration:none;"></a></h3>
        </div>

        <div class="panel-body">
            <form method="post" action="{{ url_for(action, cap_id=cap_id) }}" id="eventForm" class="form-horizontal">
                <div class="form-group">
                    {{ form.csrf_token }}
                    <label class="col-xs-3 control-label">RSN</label>
                    <div class="col-xs-5" name="RSN">
                            {{ form.rsn(class_="form-control") }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 control-label">Date</label>
                    <div class="col-xs-5 date">
                        <div class="input-group input-append date" id="datePicker">
                            {{ form.capdate(class_="form-control") }}
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 control-label">Cap Type</label>
                    <div class="col-xs-5 date">
                        <div class="input-group input-append date">
                            {{ form.captype(class_="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-5 col-xs-offset-3">
                        <button type="submit" class="btn btn-default"> Update </button>
                    </div>
                </div>
            </form>

        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-line-chart"></i> Caps <a class="pull-right glyphicon glyphicon-option-horizontal" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">

            <a href="{{ url_for('caps.add_cap_week') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i> Add Week
            </a>

            <table class="table" id="grid">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Week</th>
                        <th>RSN</th>
                        <th>Cap Type</th>
                        <th>Action(s)</th>
                    <tr>
                </thead>
                <tbody>
                    {% for row in captable %}
                    <tr>
                        <td>{{ row.capdate }}</td>
                        <td>{{ row.week }}</td>
                        <td>{{ row.rsn }}</td>
                        <td>{{ row.captype }}</td>
                        <td>
                            <a href="{{ url_for('caps.edit_cap', cap_id=row.id) }}">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
]
                            <a href="{{ url_for('caps.delete_cap', cap_id=row.id) }}">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination-bar">
                {{ pagination.links }}
                {{ pagination.info }}
            </div>
        </div>
    </div>
</div>


<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Example Chart <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
                <div class="panel-body">
                    <div id="chart_browsers" style="width:100%; height:200px;"></div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Example Chart <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
                <div class="panel-body">
                    <div id="chart_browsers" style="width:100%; height:200px;"></div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-keyboard-o"></i> Keywords</h3>
        </div>
        <div class="panel-body text-center">
            <div id="tagcloud"></div>
        </div>
    </div>
</div>

{% endblock %}
