<!-- extend base layuot -->
{% extends "layout.html" %}
{% block content %}

<div class="col-md-6">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class = flashes>
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Caps Over Time <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">
            <div id="chart_browsers" style="width:100%; height:200px;"></div>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Top 10: Cap Percentage <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">

        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Top 10: Cap Streak <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">

        </div>
    </div>

</div>


<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-table"></i> Cap Consistency <a class="pull-right fa fa-question" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                {{ cap_activity|safe }}
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Cap Percentage Distribution <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">
            Three bar charts per decile; total, current, former clan members by decile on the x axis and frequency count on the y-axis
        </div>
    </div>
</div>

{% endblock %}
