<!-- extend base layuot -->
{% extends "layout.html" %}
{% block content %}

<div class="col-md-8">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class = flashes>
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-line-chart"></i> Cap Table (click to edit) <a class="pull-right glyphicon glyphicon-option-horizontal" href="#" style="text-decoration:none;"></a></h3>
        </div>

        <div class="panel-body">
            {{ cap_summary|safe }}
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-line-chart"></i> Caps <a class="pull-right glyphicon glyphicon-option-horizontal" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">
            {{ cap_activity|safe }}
        </div>
    </div>
</div>


<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Example Chart <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
                <div class="panel-body">
                    <div id="chart_browsers" style="width:100%; height:200px;"></div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Example Chart <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
                <div class="panel-body">
                    <div id="chart_browsers" style="width:100%; height:200px;"></div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-keyboard-o"></i> Keywords</h3>
        </div>
        <div class="panel-body text-center">
            <div id="tagcloud"></div>
        </div>
    </div>
</div>

{% endblock %}
